<% layout("/layouts/boilerplate") %>
<div class="homeimg mt-3 ">
    <div class="homeimg2">
    <img src="https://images.unsplash.com/photo-1516655855035-d5215bcb5604?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="wonderlust ">
     </div>
     <div class="homecontent">
        <h1><b>Welcome To Wanderlust<b></h1>
        <h4>Explore the world’s best travel listings with comfort and style.</h4>
        <button class="viewbtn "> <a class="home-link" href="/listings">View listings</a></button>
        <button class="addbtn"><a class="home-link " href="/listings/new">+Add a listings</a></button>
     </div>
</div>