html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

.show-img{
   height: 40vh;
}
.navbar{
    height: 4rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: black !important;
   
}
.navbar-nav{
    gap: 5vh;
    margin-left: 5vh;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials,.f-info-brands{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem

}
.f-info{
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}
.card{
    border:none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none !important;
}
.card-text-p{
    font-weight:400 ;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
  opacity: 0.2;
  background-color: white;
}
.btns{
    display: flex;
}
.delete-btn {
    background-color: #ea1b29;
    border: none;
     padding: 1.6vh;
    color: white;
    border-radius: 5px;
}
.homeimg2{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
      overflow: hidden;
}
.homeimg2 img{
    height: 90vh;
    width: 100%;
    object-fit: cover;
    opacity: 70%;
  
}
.homeimg{
    position: relative;
}
.homecontent{
    position: absolute;
    top: 35%;
    left:18%;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  
}
.homecontent h1{
    font-size: 8vh;
}
.viewbtn{
    margin-top: 20px;
    background-color: rgb(255, 120, 1);
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-left:32% ;
    margin-right:4px ;
}
.addbtn{
    background-color: transparent;
    border: 2px solid rgb(255, 120, 1);
    padding: 11px;
    border-radius: 5px;
}
.home-link{
    color: white !important ;
    text-decoration: none;
}